{% extends "core-materialize.html" %}
{% load i18n %}
{% block title %}Lease It{% endblock %}
{% block script %}
        <script src="/static/js/utils.js" type="text/javascript"></script>
        <script src="/static/js/flavors.js" type="text/javascript"></script>
        <script src="/static/js/instances.js" type="text/javascript"></script>
        <script src="/static/js/dashboard.js" type="text/javascript"></script>
{% endblock %}
{% block javascript%}
/*
    On web page load
*/
$(function() {

    /* Load flavor part */
    flavorsStatus().then(function (data){
        FLAVORS = sortOnParams(FLAVOR_SORT_PARAMS, data, FLAVOR_ORDER);
        refreshFlavorDiv(FLAVOR_SORT_PARAMS, FLAVOR_MIN, FLAVOR_ORDER);
        $( "#progress-bar" ).hide();
    })

    /* Load instance part */
    instancesStatus().then(function (data_instances){
        <!--INSTANCES = sortOnParams('name', data_instances, 1);-->
        INSTANCES = data_instances;
        buildInstancesView(INSTANCES, '#instances');
        $( "#progress-bar-instances" ).hide();
    })

    $(".btn-slide").sideNav();
});
{% endblock %}

{% block navlogged%}
<!-- When logged, we add a tab menu to switch from differents view -->
<div class="nav-content">
    <ul class="tabs tabs-transparent">
        <li class="tab"><a href="#flavors" onClick='$("#menu").removeClass("disabled")'>Flavors</a></li>
        <li class="tab" ><a href="#instances-dash" onClick='$("#menu").addClass("disabled")'>Instances</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}
<ul id="slide-out" class="side-nav">
    <li><a class="subheader">Sorted by</a></li>
    <li id="name" onClick="refreshFlavorDiv('name', FLAVOR_MIN, FLAVOR_ORDER)"><a href="#!" id="name_desc">Name</a></li>
    <li id="cpu" onClick="refreshFlavorDiv('cpu', FLAVOR_MIN, FLAVOR_ORDER)"><a href="#!" id="cpu_desc">CPU</a></li>
    <li id="ram" onClick="refreshFlavorDiv('ram', FLAVOR_MIN, FLAVOR_ORDER)"><a href="#!" id="ram_desc">RAM</a></li>
    <li id="disk" onClick="refreshFlavorDiv('disk', FLAVOR_MIN, FLAVOR_ORDER)"><a href="#!" id="disk_desc">Disk</a></li>
    <li id="free" onClick="refreshFlavorDiv('free', FLAVOR_MIN, FLAVOR_ORDER)"><a href="#!" id="free_desc">Free</a></li>
    <li id="max" onClick="refreshFlavorDiv('max', FLAVOR_MIN, FLAVOR_ORDER)"><a href="#!" id="max_desc">Max</a></li>
</ul>
<div class="row">
    <!-- Flavor per flavor usage -->
    <div id="flavors" class="">
        <div id="progress-bar">
            <h5 class="center-align">Please wait while retrieving data</h5>
            <div class="progress valign-wrapper">
              <div class="indeterminate valign"></div>
            </div>
        </div>
        <div id="flavors-list"></div>
    </div>
    <div id="instances-dash">
        <div id="progress-bar-instances">
            <h5 class="center-align">Please wait while retrieving data</h5>
            <div class="progress valign-wrapper">
              <div class="indeterminate valign"></div>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <table class="striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Project</th>
                            <th>Started at</th>
                            <th>End Of Life</th>
                        </tr>
                    </thead>
                    <tbody id="instances">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
